.container{
    padding: 15px;
    /* background-color: azure; */
    text-align: center;
    /* height: 100%; */
    
}
.techStack{
    margin-top: 3rem;
    
}
    

.skills{
    margin-top: 3rem;
    margin-bottom: 5.5rem;
    
    
}
h2 {
    font-weight: 600;
    margin-bottom: 2rem;
}


