.container{
    padding: 15px;
    /* background-color: azure; */
    text-align: center;
}
.techStack{
    margin-top: 3rem;
    
}
    

.skills{
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    
}
h2 {
    font-weight: 600;
}


